{
  "primaryColor": "#2196F3",
  "primaryColorLight": null,
  "primaryColorDark": null,
  "primaryTextColor": null,
  "secondaryColor": "#FAFAFA",
  "secondaryColorLight": null,
  "secondaryColorDark": null,
  "secondaryTextColor": null,
  "accentColor": "#80D8FF",

  "backgroundColorShadow": "#000000",
  "backgroundColor1": "#E0E0E0",
  "backgroundColor2": "#F5F5F5",
  "backgroundColor3": "#FAFAFA",
  "backgroundColor4": "#FFFFFF"
}
